In [41]:
import numpy as np #Importing necessary datafiles
import pandas as pd
import math
from sklearn.linear_model import LinearRegression

In [42]:
data = pd.read_excel(r'C:\Users\madhu\Desktop\MP1 SI\SI DATA.xlsx')

In [43]:
df = pd.DataFrame(data)

1a) Indexed by trading days, please arrange the data as a text file (or excel
file) that is easy to be used for programming.

In [4]:
df.head()

  Trading Days     GOLD  USD Index  W T I Crude Oil Prices
0   2020-01-01      NaN      96.39                     NaN
1   2020-01-02  1520.55      96.85                   61.18
2   2020-01-03  1547.40      96.84                   63.05
3   2020-01-06  1576.85      96.67                   63.27
4   2020-01-07  1566.50      97.00                   62.70

In [44]:
df.describe()

              GOLD   USD Index  W T I Crude Oil Prices
count   253.000000  262.000000              252.000000
mean   1771.843478   95.821489               39.683857
std     141.320861    3.181764               10.232494
min    1472.350000   89.680000               11.258000
25%    1655.900000   93.050000               36.797500
50%    1774.650000   96.485000               40.652000
75%    1892.600000   98.637500               45.547500
max    2061.500000  102.990000               63.270000

In [45]:
df.index = pd.to_datetime(df['Trading Days'])#making date as index for the dataframe

In [46]:
df = df.drop(['Trading Days'],axis = 1)
df.head()

                 GOLD  USD Index  W T I Crude Oil Prices
Trading Days
2020-01-01        NaN      96.39                     NaN
2020-01-02    1520.55      96.85                   61.18
2020-01-03    1547.40      96.84                   63.05
2020-01-06    1576.85      96.67                   63.27
2020-01-07    1566.50      97.00                   62.70

In [47]:
df.count()

GOLD                      253
USD Index                 262
W T I Crude Oil Prices    252
dtype: int64

In [23]:

df.count()

GOLD                      262
USD Index                 262
W T I Crude Oil Prices    262
dtype: int64

In [24]:
df.head()

                 GOLD  USD Index  W T I Crude Oil Prices
Trading Days
2020-01-01       0.00      96.39                    0.00
2020-01-02    1520.55      96.85                   61.18
2020-01-03    1547.40      96.84                   63.05
2020-01-06    1576.85      96.67                   63.27
2020-01-07    1566.50      97.00                   62.70

In [25]:
df.corr()
#hetamap

                            GOLD  USD Index  W T I Crude Oil Prices
GOLD                    1.000000  -0.327529                 0.25074
USD Index              -0.327529   1.000000                -0.34978
W T I Crude Oil Prices  0.250740  -0.349780                 1.00000

1b) If the Gold price on August 11 is erased due to hard disk error, can you
recover the gold price on August 11 by the regression of Gold price?

In [26]:
X = df[['W T I Crude Oil Prices']]
Y = df['GOLD']
model = LinearRegression()
model.fit(X,Y)
print('intercept:',model.intercept_)
print('coefficient:',model.coef_)

intercept: 1443.673224857014
coefficient: [7.003169]

In [27]:
result = df.loc[['2020-08-11'],['W T I Crude Oil Prices']] 
result
# [0]['A']

              W T I Crude Oil Prices
Trading Days
2020-08-11                     41.61

In [28]:
b1 = result.iloc[0]['W T I Crude Oil Prices']
print(b1)
predict_oil = model.predict([[b1]])#41.61 is WTI crude oil on 11 th August 
print("Gold Price on 11th August based on WTI Crudel oil price on the same day is: USD",predict_oil)

41.61
Gold Price on 11th August based on WTI Crudel oil price on the same day is: USD [1735.07508709]

In [29]:
X = df[['USD Index']]
Y = df['GOLD']
model = LinearRegression()
model.fit(X,Y)
print('intercept:',model.intercept_)
print('Coefficient:',model.coef_)

intercept: 5181.865101209414
Coefficient: [-36.22242284]

In [30]:
result = df.loc[['2020-08-11'],['USD Index']] 
result

              USD Index
Trading Days
2020-08-11        93.63

In [31]:
b2 = result.iloc[0]['USD Index']
print(b2)
predict_usd = model.predict([[b2]])#93.63 is USD index on on 11 th August 
print("Gold Price on 11th August based on USD Index is: USD",predict_usd)

93.63
Gold Price on 11th August based on USD Index is: USD [1790.35965084]

1c) If the Gold price on August 11 is erased due to hard disk error, can you
recover the gold price on August 11 by multiple regression of US Dollar
Index and West Texas Oil price?

In [32]:
x = df[['W T I Crude Oil Prices','USD Index']]
y = df['GOLD']
mmodel = LinearRegression()
mmodel.fit(x,y)
print('intercept:',mmodel.intercept_)
print('Coeffcient:',mmodel.coef_)

intercept: 4441.323324471949
Coeffcient: [  4.33363035 -30.22031876]

In [33]:
result = df.loc[['2020-08-11'],['USD Index','W T I Crude Oil Prices']]
result

              USD Index  W T I Crude Oil Prices
Trading Days
2020-08-11        93.63                   41.61

In [34]:
a1 = result.iloc[0]['USD Index']
a2 = result.iloc[0]['W T I Crude Oil Prices']

In [35]:
predict_m = mmodel.predict([[a1,a2]])
print('Gold Price on 11 th August based on WTI Crudel oil price and USD Index is USD',predict_m)

Gold Price on 11 th August based on WTI Crudel oil price and USD Index is USD [3589.61367025]

Can you use the regression model to predict the Gold price on the first
trading day in 2021, without checking the data? That is, repeat (a) and (b)
but knowing all 2020 data to predict the first trading day in 2021.

In [36]:
USDIndex_median = df['USD Index'].median()
predict = model.predict([[USDIndex_median]])

In [37]:
print('Gold Price on the 1 st January, 2021 based on previous year USD index is USD',predict)#

Gold Price on the 1 st January, 2021 based on previous year USD index is USD [1686.94463364]

In [38]:
WTI_Crude_Oil_Prices_median = df['W T I Crude Oil Prices'].median()
predict = 0
predict = model.predict([[WTI_Crude_Oil_Prices_median]])

In [39]:
print('Gold Price on the 1 st January 2021,based on previous year Crude Oil Prices 2021 is USD',predict)

Gold Price on the 1 st January 2021,based on previous year Crude Oil Prices 2021 is USD [3711.23473397]

In [40]:
mm_predict = mmodel.predict([[WTI_Crude_Oil_Prices_median, USDIndex_median]])
print('Gold Price on the 1 st January 2021 based on previous year USD index and Crude Oil Prices 2021 is USD',mm_predict)

Gold Price on the 1 st January 2021 based on previous year USD index and Crude Oil Prices 2021 is USD [1701.46126061]